<ion-header>
  <ion-toolbar>
    <ion-title>Pokedex</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToFavorite()">
        <ion-icon name="bookmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search for Pokemon by name" [(ngModel)]="searchTerm" (ionInput)="filterPokemon()"></ion-searchbar>

  <ion-card *ngFor="let pokemon of filteredPokemons; let i = index" class="custom-card" (click)="goToDetail(pokemon.url)">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <h2>{{ capitalize(pokemon.name) }}</h2>
            <ion-chip *ngFor="let type of pokemon.types">
              <ion-label>{{ capitalize(type.type.name) }}</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="3">
            <ion-img [src]="getPokeImage(i)"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
